/* root vars */

:root {
  --accent-color: #4985ff;
  --title-color: #323232;
  --text-color: #999999;
  --secondary-color: #ffffff;
  --background-color: #f6f6f8;
  --gap: 30px;
  --items: 3;
}

/* reset */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  outline: 1px solid red;
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.grid-item {
  width: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}
/* utils styles */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(53 / 36);
}

.section-text {
  font-weight: 400px;
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: center;
  color: #999999;
}

.btn {
  min-width: 200px;
  min-height: 45px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header styles */

.header {
  background-color: rgba(54, 53, 53, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header-pages {
  display: flex;
  justify-content: right;
  gap: 40px;
}

/* .header-page:not(:last-child) {
  margin-right: 40px;
} */

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--secondary-color);
}
.header-active::after {
  display: block;
  position: absolute;
  left: -20px;
  bottom: -40px;
  content: "";
  height: 2px;
  width: calc(100% + 40px);
  background-color: var(--secondary-color);
  opacity: 0;
  transform: scale(0);
  transition: transform 500ms linear, opacity 500ms linear;
}

.header-page:hover .header-active::after {
  opacity: 1;
  transform: scale(1);
}

/* hero section */

.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #323232;
}

.hero-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: var(--secondary-color);

  margin-bottom: 20px;
}

.hero-text {
  font-weight: 800;
  font-size: 48px;
  line-height: calc(64 / 48);
  text-align: center;
  color: var(--secondary-color);

  margin-bottom: 50px;
  max-width: 829px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
}

/* services */

.services {
  padding-bottom: 105px;
  padding-top: 110px;
}
.services-title {
  text-align: center;
  max-width: 739px;
  /* margin-left: auto;
margin-right: auto;
margin-bottom: 32px; */
  margin: 0 auto 32px;
}

.services-text {
  max-width: 730px;
  text-align: center;
  margin: 0 auto 70px;
}

/* -- About us -- */

.about-project {
  --items: 5;
}

/* Projects */

.projects-title {
  text-align: center;
  margin-bottom: 28px;
}

.projects-text {
  max-width: 730px;
  margin: 0 auto 70px;
}

.projects-item {
  --items: 4;
}

/* Button */

.scroll-to-top {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: teal;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
