:root {
    --accent-color: #4985ff;
    --title-color: #323232;
    --text-color: #999999;
    --secondary-color: #ffffff;
    --background-color: #f6f6f8;
    --subtitle-color: #000000;
    --gap: 30px;
    --items: 3;
  }
  